<div class="project-list">
  <div class="project-list__title">Recent projects</div>
  <mat-grid-list
    class="project-list__items"
    cols="{{ gridCols }}"
    gutterSize="{{ gutterSize }}"
    rowHeight="{{ rowHeight }}"
  >
    <mat-grid-tile
      class="project mat-elevation-z4"
      colspan="1"
      *ngFor="let project of projects$ | async; let i = index"
    >
      <app-project
        title="{{ project.title }}"
        description="{{ project.description }}"
      ></app-project>
    </mat-grid-tile>
  </mat-grid-list>
</div>
