// TODO: how to dynamically set the width of the mat-grid-list
@import '../app.component.scss';

.project-list {
  @media screen and (min-width: $screen-tablet1) {
    width: $project-list-width1;
  }

  @media screen and (min-width: $screen-tablet3) {
    width: $project-list-width2;
  }
  position: relative;
  z-index: 2;
  padding: 0 15px;
  margin: auto;

  &__title {
    font-size: $font-size-h3;
    color: $back;
    font-weight: $font-weight-normal;
    margin-bottom: $spacing-5;
  }

  .mat-grid-tile {
    border-radius: $border-radius2;
    background-color: $back;
  }

  .mat-grid-tile-content {
    padding: 15px !important;
    justify-content: flex-start !important;
    align-items: stretch !important;
  }
}

