html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  box-sizing: border-box;
  border-collapse: collapse;
  width: 100%;
  height: 100%
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $back-light;
  color: $text;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;

  &:hover {
    text-decoration: underline
  }
}