// Colors
$primary: rgb(26, 115, 232);
$secondary: #676778;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #ff3e00;
$light: #f8f9fa;
$dark: #343a40;

$text: #444;
$text-light: #ffffff;

$back-light: #ffffff;
$back-dark: #4c4c4c;

// Screen Sizes
$screen-tablet1: 768px;
$screen-tablet2: 800px;
$screen-tablet3: 1240px;

// Project List Widths
$project-list-width1: 650px;
$project-list-width2: 950px;

// Font Sizes
$font-size-sm: 0.875rem;
$font-size-md: 1rem; // 10px
$font-size-lg: 1.5rem;
$font-size-xl: 1.8rem;
$font-size-h3: 2.2rem;
$font-size-h2: 2.6rem;
$font-size-h1: 3.6rem;

// Font Weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Spacing
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 1rem; // 10px
$spacing-4: 1.5rem;
$spacing-5: 3rem;

// Borders
$border-width: 1px;
$border-color: #ccc;
$border-bottom-color: #e0e0e0;
$border-radius1: 0.3rem;
$border-radius2: 1rem;
// Shadows
$box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);

// Images
$feature-bar-img1: '/assets/firebase-img1.png';
$feature-bar-img2: '/assets/firebase-img2.png';