
@use '@angular/material' as mat;
@import '@angular/material/theming';
@import '../../../app.component.scss';

.measurement-id-table {
  @include mat-elevation(4);
  position: fixed;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  min-width: 400px;
  height: 30vh;
  background-color: white;
  padding: 5rem 3rem;

  hr {
    margin: 2rem 0;
  }

  &__close {
    cursor: pointer;
    align-items: center;
    transform: scale(1.2);
    color: #DCDCDC;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: $font-size-xl;
    font-weight: $font-weight-normal;
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include mat.all-component-densities(-1);

    &__staging {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
    }

    &__production {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
    }
  }
}