<div class="functional-card">
  <div class="functional-card__actions">
    <button
      mat-stroked-button
      (click)="convertCode()"
      class="functional-card__actions__item"
      [disabled]="
        (
          this.editorFacadeService.getInputJsonContent() | async
        )?.state?.doc?.toString() === '[]'
      "
    >
      Convert
    </button>
    <button
      mat-stroked-button
      (click)="onUpload()"
      class="functional-card__actions__item"
    >
      Upload
    </button>
  </div>
  <app-advanced-expansion-panel
    #accordionContainer
  ></app-advanced-expansion-panel>
</div>
