@use '@angular/material' as mat;
@import '@angular/material/theming';
@import '../../../../app.component.scss';

.functional-card {
  @include mat-elevation(4);
  width: 100%;
  height: 100%;
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  
  &__actions {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
    width: 100%;

    &__item {
      font-size: $font-size-lg;
      width: 100%;

    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    @include mat.all-component-densities(-1);
  }

  &__include-video {
    margin-left: -9px;
    margin-bottom: 20px;
  }

  &__measurement {
    width: 100%;
  }
}

// to match the form field height
.mat-mdc-outlined-button.mat-mdc-button-base {
  height: 5rem;
}

.mat-mdc-checkbox label {
  font-size: $font-size-xl;
}